<h1>CLIENTE</h1>
<p>Aqui usted encontrara las opciones para poder manejar su cuenta y alquilar estacionamientos</p>
<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" } do |f| %>

<div class="form-group">
	<div class="col-sm-offset-10 col-sm-2">
		<%= link_to "Cambiar Contraseña", { :controller => "usuario", :action => "CambPass" } %>		
		<%= link_to "Editar Perfil", { :controller => "usuarios", :action => "new" } %>
		<%= link_to "Dar baja", { :controller => "usuario", :action => "ElimCuenta" } %>
	</div>
</div>


<% @estacionamientos.each do |establecimiento| %>
<div class="form-group">
	<div class="col-sm-4">
		<img src=<%= establecimiento.img %> class="img-thumbnail" alt="Cinque Terre">
	</div>
	<div class="col-sm-6">
		<h1><%= establecimiento.nombre %></h1>
		<p>S/. <%= establecimiento.precio %>.00</p>
		<p><%= establecimiento.distrito %></p>
		<p><%= establecimiento.direccion %></p>
		<p>Largo:<%= establecimiento.largo %>mtrs Alto:<%= establecimiento.alto %>mtrs Ancho:<%= establecimiento.ancho %>mtrs</p>
		<p>Interior</p>
	</div>
	<div class="col-sm-2">
		<br>
		<br>
		<%= link_to "Ver mas", { :controller => "estacionamiento", :action => "DetalleEstac" } %>
		<br>
		<br>
		<%= link_to "Alquilar", new_alquiler_path %>
		<br>
		<br>
		<%= link_to "Comentar", { :controller => "comentarios", :action => "new" } %>				
	</div>		
</div>
<% end %>



<% end %>


