<h1>DUEÑO</h1>
<p>Aqui usted encontrara las opciones para poder manejar su cuenta y alquilar estacionamientos</p>
<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" } do |f| %>
<div class="form-group">
	<div class="col-sm-offset-10 col-sm-2">		
		<%= link_to "Cambiar Contraseña", { :controller => "usuario", :action => "CambPass" } %>	
		<%= link_to "Editar Perfil", { :controller => "usuario", :action => "EditPerfil" } %>
		<%= link_to "Dar baja", { :controller => "usuario", :action => "ElimCuenta" } %>
		<%= link_to "Listar estacionamientos por fecha", { :controller => "estacionamiento", :action => "ListarEstac" } %>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-12">
		<%= link_to "Registrar nuevo estacionamiento", {:controller => "estacionamientos", :action => "new"}, {:class => "btn btn-primary btn-block"} %>
	</div>
</div>

<% @estacionamientos.each do |estacionamiento| %>
<div class="form-group">
	<div class="col-sm-4">
		<img src=<%= estacionamiento.img %> class="img-thumbnail" alt="Cinque Terre">
	</div>
	<div class="col-sm-6">
		<h2><%= estacionamiento.nombre %></h2>

		<p><strong>Precio: </strong><%= estacionamiento.precio %></p>
		<p><strong>Departamento: </strong><%= estacionamiento.departamento %> <strong>, Provincia: </strong><%= estacionamiento.provincia %> <strong>, Distrito: </strong><%= estacionamiento.distrito %></p>
		<p><strong>Dirección: </strong><%= estacionamiento.direccion %></p>
		<p><strong>Medidas: Largo: </strong><%= estacionamiento.largo %> <strong>m. Ancho: </strong></strong><%= estacionamiento.ancho %> <strong>m. Alto: </strong></strong><%= estacionamiento.alto %></p>
		<p><strong>Teléfono: </strong><%= estacionamiento.telf %></p>>
	</div>
	<div class="col-sm-2">
		<br>
		<br>
		<%= link_to 'Ver', estacionamiento %>
		<br>
		<br>
		<%= link_to "Editar", edit_estacionamiento_path(estacionamiento) %>
		<br>
		<br>
		<%= link_to 'Eliminar', estacionamiento, method: :delete, data: { confirm: '¿Está usted seguro?' } %>
		<br>
		<br>
		<%= link_to "Servicios Adicionales", { :controller => "serv_adicionales", :action => "ServEstac" } %>
	</div>		
</div>
<% end %>

<% end %>

