<p id="notice"><%= notice %></p>

<p>
  <strong>Puntuacion:</strong>
  <%= @comentario.puntuacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @comentario.descripcion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario %>
</p>

<p>
  <strong>Autenticacion:</strong>
  <%= @comentario.autenticacion %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
