<h1>Recuperar usuario</h1>
<%= form_for :upc, :html => { :method => :post }, :url => { :action => :recuperar } do |f| %>

<div class="form-group">
	<div class="col-sm-2">
		<%= f.label :usuario %>
	</div>
	<div class="col-sm-10">
		<%= f.text_field :usuario, { :class => "form-control", :placeholder => "Email o nombre de usuario" } %>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
		<%= f.label :respuesta,"Respuesta pregunta secreta" %>
	</div>
	<div class="col-sm-10">
		<%= f.text_field :respuesta, { :class => "form-control", :placeholder => "Ingrese la resuesta de su pregunta secreta" } %>
	</div>
</div>

<br>
<div class="form-group">
	<div class="col-sm-2">
	</div>		
	<div class="col-sm-4">
		<%= f.submit "VERIFICAR", :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-4">
		<%= f.submit "SALIR", :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-2">
	</div>		
</div>
<% end %>
