<h1>Restablecer Contrase침a</h1>
<%= form_for :recuperarclave, :html => {:method => :post, :class => "form-horizontal"}, :url => { :action => :RecupContr} do |a| %>

	<div class="form-group">
		
		<div class="text_field">Ingrese la cuenta asociada para enviarle la nueva contrase침a </div>
		<br>
		<div class="col-sm-3">
			<%= a.label :correo, "Direcci칩n de su cuenta" %>
		</div>
		<div class="col-sm-9">
			<%= a.text_field :correo, {:class => "form-control", :placeholder => ""} %>
		</div>
		</br>
	</div>
	<div class="col-sm-offset-8 col-sm-2">
		<br>
		<%= a.submit "Restaurar Contrase침a", :class => "btn btn-info", :onclick => "return _onclick();" %>
	</div>
	<div class="col-sm-2">
		<br>
		<%= a.submit "Cancelar", :class => "btn btn-info", :onclick => "return _onclick();" %>
	</div>
<% end %>
