<h1 class="text-center">Alquila tu Estacionamiento</h1>
<%= form_for :alquilar, :html => {:method => :post, :class => "form-horizontal"}, :url => { :action => :RegAlquiler} do |a| %>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<%= a.label :fecha, "Fecha" %>
		</div>
		<div class="col-sm-2">
			<%= a.date_field :fecha, {:class => "form-control"} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<%= a.label :hora, "Hora" %>
		</div>
		<div class="col-sm-2">
			<%= a.time_select :hora %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<%= a.label :nhora, "Número de horas" %>
		</div>
		<div class="col-sm-2">
			<%= a.number_field :nhora, {:class => "form-control", :min => 1, :max => 24 } %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<%= a.label :tpago, "Tipo de pago" %>
		</div>
		<div class="col-sm-2">
			<%= a.select :tpago, [["Efectivo",1], ["Tarjeta",2]], {:include_blank => "Seleccionar"}, {:class => "form-control", :placeholder => "Seleccione un tipo de pago"} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<%= a.label :sadicionales, "Servicios Adicionales" %>
		</div>
		<div class="col-sm-2">
			<%= a.label :lavado, { :class => "checkbox" } do %>
			<%= a.check_box :lavado, {}, "Lavado", nil %>
			Lavado
			<% end %>

			<%= a.label :encerado, { :class => "checkbox" } do %>
			<%= a.check_box :encerado, {}, "Encerado", nil %>
			Encerado
			<% end %>

			<%= a.label :revison, { :class => "checkbox" } do %>
			<%= a.check_box :revison, {}, "Revisión", nil %>
			Revisión mecánica
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-6 col-sm-6">
			<%= a.submit "Aceptar", :class => "btn btn-info", :onclick => "return _onclick();" %>
			<%= a.submit "Cancelar", :class => "btn btn-info" %>
		</div>	
	</div>
	
<% end %>

<script type="text/javascript">
		function _onclick() {
			var fecha = $("#alquilar_fecha").val();

			if (fecha == '') {
				alert('Falta ingresar la fecha de alquiler');
				$("#alquilar_fecha").focus();
			}
			var hora = $("#alquilar_hora").val();

			if (hora == '') {
				alert('Falta ingresar la hora de alquiler');
				$("#alquilar_hora").focus();
			}
			var nhora = $("#alquilar_nhora").val();

			if (nhora == '') {
				alert('Falta ingresar el número de horas.');
				$("#alquilar_nhora").focus();
			}
			var tpago = $("#alquilar_tpago").val();

			if (tpago == '') {
				alert('Ingrese el tipo de pago');
				$("#alquilar_tpago").focus();
				return false
			}
		}
</script>

