<p id="notice"><%= notice %></p>

<h1>Alquilers</h1>

<table>
  <thead>
    <tr>
      <th>Idestacionamiento</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Nhora</th>
      <th>Tpago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alquilers.each do |alquiler| %>
      <tr>
        <td><%= alquiler.idEstacionamiento %></td>
        <td><%= alquiler.fecha %></td>
        <td><%= alquiler.hora %></td>
        <td><%= alquiler.nhora %></td>
        <td><%= alquiler.tpago %></td>
        <td><%= link_to 'Ver más', alquiler %></td>
        <td><%= link_to 'Editar', edit_alquiler_path(alquiler) %></td>
        <td><%= link_to 'Eliminar', alquiler, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Alquiler', new_alquiler_path %>
