<h1>Registrar nuevo Estacionamiento</h1>
<br>
<%= form_for :registro, :html => { :method => :post, :class => "form-horizontal"}, :url => {:action => :RegEstac} do |r| %>
	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :nombre, "Nombre" %>
		</div>
		<div class="col-sm-10">
			<%= r.text_field :nombre, {:class => "form-control", :placeholder => "Nombre del estacionamiento"} %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :departamento, "Departamento" %>
		</div>
		<div class="col-sm-4">
			<%= r.select :departamento, [["Amazonas",1], ["Áncash",2], ["Apurímac",3], ["Arequipa",4], ["Ayacucho",5], ["Cajamarca",6], ["Cusco",7], ["huancavelica",8], ["Huánuco",9], ["Ica",10], ["Junín",11], ["La Libertad",12], ["Lambayeque",13], ["Lima",14], ["Loreto",15], ["Madre de Dios",16], ["Moquegua",17], ["Pasco",18], ["Piura",19], ["Puno",20], ["San Martín",21], ["Tacna",22], ["Tumbes",23], ["Ucayali",24]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
		</div>

	<!--
	<script type="js/jquery.cascading-drop-down.js"></script>
	<script>
		$('.cascadingDropDown').ssdCascadingDropDown({
			nonfinallCallback: function(triger, props, data, self) {
				triger.closest('form')
				.find('input[type-"submit"]')
				.attr('disabled',true);
			};
			finallCallback: function(triger, props, data) {
				if (props.isValueEmpty()) {
					triger.closest('form')
				.find('input[type-"submit"]')
				.attr('disabled',true);
			} else {
				triger.closest('form')
				.find('input[type-"submit"]')
				.attr('disabled',true);
			}
			}
		})
	</script>
	<div class="container">
		<form>
			<div class="form-group">
				<label class="col-sm-2" for="sel">Departamento</label>
				<select class="form-control cascadingDropDown col-sm-4" 
						name="Departamento"
						data-group="Departamento1"
						data-target="distrito"
						data-url="data/distrito.json"
						data-replacement="container1">
					<option value="">Seleccionar</option>
					<option value="1">Amazonas</option>
					<option value="2">Áncash</option>
					<option value="3">Apurímac</option>
					<option value="4">Arequipa</option>
					<option value="5">Ayacucho</option>
					<option value="6">Cajamarca</option>
					<option value="7">Cusco</option>
					<option value="8">Huancavelica</option>
					<option value="9">Huánuco</option>
					<option value="10">Ica</option>
					<option value="11">Junín</option>
					<option value="12">La Libertad</option>
					<option value="1">Lambayeque</option>
					<option value="2">Lima</option>
					<option value="3">Loreto</option>
				</select>
			</div>

			<div class="form-group">
				<label for="sel">Distrito</label>
				<select class="form-control cascadingDropDown" 
								name="Distrito"
								data-group="Departamento1"
								data-id="distrito"
								data-default-label="Seleccionar"
								data-replacement="container1"
								data-url="data/final.json"
								data-final
								disabled>
					
				</select>
			</div>

		</form>

		<div
			class="panel cascadingContainer"
			data-replacement-container="container1"
			data-default-content="Seleccionar el menu por favor">
		</div>
	</div>
	
	-->
		<div class="col-sm-2">
			<%= r.label :provincia, "Provincia" %>
		</div>

<!--
		<script type="text/javascript">
			function _onclick() {
				var distrito = $("#registro_distrito").val();

				if (distrito == 1) {
					return "1";
				}
			}
		</script>
-->
		<div class="col-sm-4">
			<%= r.select :provincia, [["Bagua",1], ["Chachapoyas",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
			<!--
			<%= r.select :provincia, [["Arequipa",1], ["Camana",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
			<%= r.select :provincia, [["Cajabamba",1], ["Cutervo",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
			<%= r.select :provincia, [["Acomayo",1], ["Cusco",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
			<%= r.select :provincia, [["Ambo",1], ["Huánuco",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
			<%= r.select :provincia, [["Ancón",1], ["San Isidro",2]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
		-->
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :distrito, "Distrito" %>
		</div>
		<div class="col-sm-4">
			<%= r.select :distrito, [["Ancón",1], ["Ate",2], ["Barranco",3], ["Breña",4], ["Carabayllo",5], ["Chaclacayo",6], ["Chorrillos",7], ["Cieneguilla",8], ["Comas",9], ["El Agustino",10]], {:include_blank => "Seleccionar" }, { :class => "form-control"} %>
		</div>
		<div class="col-sm-2">
			<%= r.label :dirección, "Dirección" %>
		</div>
		<div class="col-sm-4">
			<%= r.text_field :dirección, { :class => "form-control", :placeholder => "Ingrese su dirección"} %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-8">
			<%= r.label :mapa, "Dele click en el boton para seleccionar la ubicación de su estacionamiento en el mapa" %>
		</div>
		<div class="col-sm-4">
			<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Buscar mapa</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :latitud, "Latitud" %>
		</div>
		<div class="col-sm-4">
			<%= r.text_field :latitud, { :class => "form-control"} %>
		</div>
		<div class="col-sm-2">
			<%= r.label :longitud, "Longitud" %>
		</div>
		<div class="col-sm-4">
			<%= r.text_field :longitud, { :class => "form-control"} %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :dias, "Horario de atención" %>
		</div>
		<div class="col-sm-2">
			<%= r.label :lunes, { :class => "checkbox" } do %>
			<%= r.check_box :lunes, {}, "Lunes", nil %>
			Lunes
			<% end %>

			<%= r.label :martes, { :class => "checkbox" } do %>
			<%= r.check_box :martes, {}, "Martes", nil %>
			Martes
			<% end %>

			<%= r.label :miercoles, { :class => "checkbox" } do %>
			<%= r.check_box :miercoles, {}, "Miércoles", nil %>
			Miércoles
			<% end %>

			<%= r.label :jueves, { :class => "checkbox" } do %>
			<%= r.check_box :jueves, {}, "Jueves", nil %>
			Jueves
			<% end %>

			<%= r.label :viernes, { :class => "checkbox" } do %>
			<%= r.check_box :viernes, {}, "Viernes", nil %>
			Viernes
			<% end %>

			<%= r.label :sabado, { :class => "checkbox" } do %>
			<%= r.check_box :sabado, {}, "Sábado", nil %>
			Sábado
			<% end %>

			<%= r.label :domingo, { :class => "checkbox" } do %>
			<%= r.check_box :domingo, {}, "Domingo", nil %>
			Domingo
			<% end %>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :telf, "Teléfono" %>
		</div>
		<div class="col-sm-4">
			<%= r.phone_field :telf, { :class => "text_field", :placeholder => "Ingrese número telefónico"} %>
		</div>
		<div class="col-sm-2">
			<%= r.label :nespac, "Número de espacios" %>
		</div>
		<div class="col-sm-4">
			<%= r.number_field :nespac, { :class => "text_field", :placeholder => "Ingrese el número de espacios"} %>
		</div>
	</div>

	<p><b>Medidas del estacionamiento</b></p>
	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :largo, "Largo" %>
		</div>
		<div class="col-sm-2">
			<%= r.number_field :largo, { :class => "text_field", :step => 0.01, :placeholder => "En metros"} %>
		</div>
		<div class="col-sm-2">
			<%= r.label :ancho, "Ancho" %>
		</div>
		<div class="col-sm-2">
			<%= r.number_field :ancho, { :class => "text_field", :step => 0.01, :placeholder => "En metros"} %>
		</div>
		<div class="col-sm-2">
			<%= r.label :alto, "Altura" %>
		</div>
		<div class="col-sm-2">
			<%= r.number_field :alto, { :class => "text_field", :step => 0.01, :placeholder => "En metros"} %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :precio, "Precio en soles (S/.)" %>
		</div>
		<div class="col-sm-10">
			<%= r.number_field :precio, { :class => "text_field", :step => 0.01, :placeholder => "Ingrese el monto"} %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= r.label :img, "Agregar foto" %>
		</div>
		<div class="col-sm-10">
			<%= r.file_field :img %>
		</div>
	</div>

	<div class="form-group col-sm-offset-2 col-sm-10">
		<%= link_to "Agregar servicio adicional", {:controller => "serv_adicionales", :action => "RegServicio"}, {:class => "btn btn-info"} %>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= r.submit "Guardar", :class => "btn btn-info btn-lg", :onclick => "return _onclick1(); _onclick2()" %>,
			<%= r.submit "Cancelar", :class => "btn btn-info btn-lg" %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	function _onclick1() {
		var nombre = $("#registro_nombre").val();

		if (nombre == '') {
			alert('Ingresa el nombre');
			$("#registro_nombre").focus();
			return false;
		}
		var telf = $("#registro_telf").val();

		if (telf == '') {
			alert('Falta ingresar un numero de teléfono');
			$("#registro_telf").focus();
			return false;
		}
	}

	function _onclick2() {
		
	}
</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Seleccionar ubicación</h4>
      </div>
      <div class="modal-body">
        <div id="map" style="width:100%;height: 400px">
        	
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
      var map;
      var marker;
      function initMap() {
		  var myLatLng = {lat: -12.041876, lng: -77.043035};

		  map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 16,
		    center: myLatLng
		  });
		  google.maps.event.addListener(map, 'click', function (event) {
		  	$("#registro_latitud").val(event.latLng.lat)
		  	$("#registro_longitud").val(event.latLng.lng)
		  	 _onclick(event.latLng);});
		}

	function _onclick(myLatLng) {
		if (marker != undefined ) {
			marker.setMap(null)
		}
		marker = new google.maps.Marker({
		    position: myLatLng,
		    map: map,
		    title: 'Hello World!'
		  });
	}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW_fSpTSF90-1M5zQzlS5KZJ9hqiilGHk&callback=initMap"
    async defer></script>



