<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @autenticacion.correo %>
</p>

<p>
  <strong>Contrase¤a:</strong>
  <%= @autenticacion.contrase¤a %>
</p>

<%= link_to 'Edit', edit_autenticacion_path(@autenticacion) %> |
<%= link_to 'Back', autenticacions_path %>
