<h1>BUSQUEDA AVANZADA</h1>
<p>Aqui usted encontrara las opciones para poder manejar su cuenta y alquilar estacionamientos</p>
<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" } do |f| %>

<div class="form-group">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">FILTRAR POR</div>
         <%= f.label :todoslosresultados, { :class => "radio-inline"} do %>
           <%= f.radio_button :todoslosresultados, "ValorSeleccionado" %>
           Todos los resultados 
         <% end %>
    

      <div class="panel-heading">CATEGORIAS</div>
        <div class="container">
            <h4>TIPO</h4>

                  <%= f.label :interior, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkInterior, {}, "1", nil %> 
                   Interior
                    <% end %>
                    <br>

                  <%= f.label :exterior, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkExterior, {}, "1", nil %> 
                  Exterior
                  <% end %>
                  <br>

                  <%= f.label :airelibre, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkAireLibre, {}, "1", nil %> 
                  Aire Libre
                  <% end %>
                  <br>
                  <br>


            <h4>UBICACIÓN</h4>

                   <%= f.label :ubicacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkPrimerPiso, {}, "1", nil %> 
                   Primer Piso
                    <% end %>
                    <br>
           

                   <%= f.label :ubicacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkSegundoPiso, {}, "1", nil %> 
                   Segundo Piso
                    <% end %>
                    <br>


                   <%= f.label :ubicacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chkSotano, {}, "1", nil %> 
                   Sotano
                    <% end %>
                    <br>

            <br>
            <h4>CALIFICACIÓN</h4>

                  <%= f.label :calificacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chk1, {}, "1", nil %> 
                   1
                  <% end %>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <br>



                  <%= f.label :calificacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :ch2, {}, "2", nil %> 
                   2
                  <% end %>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <br>

                  <%= f.label :calificacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chk3, {}, "3", nil %> 
                   3
                  <% end %>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>                                  
                  <br>


                  <%= f.label :calificacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chk4, {}, "4", nil %> 
                   4
                  <% end %>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <br>                 

                  <%= f.label :calificacion, { :class => "checkbox-inline"} do  %>
                  <%= f.check_box :chk5, {}, "5", nil %> 
                   5
                  <% end %>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <label><p><span class="glyphicon glyphicon-star"></span></p></label>
                  <br>                

             <br>
            <h4>DISTRITO</h4>
            <div class="col-sm-3">       
            <%= f.select :documentos, [["Lima",1],["Callao",2],["Cercado",3],["SMP",2],["SJL",2],["Surco",2]], {:include_blank => "Seleccione"},{:class=>"form-control"} %>

          </div>
        </div>
        <br>
      </div>

  </div>

    <div class="col-sm-4">
      <img src="/assets/img02.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-sm-4">
      <h1>Alquiler de estacionamiento en Magdalena del MAR</h1>
      <p>S/. 200.00</p>
      <p>Lima-Lima-Magdalena del Mar</p>
      <p>Av El morro 655</p>
      <p>Largo:3mtrs Alto:2mtrs Ancho:2mtrs</p>
      <p>Interior</p>
    </div>

    <div class="col-sm-4">
      <img src="/assets/img03.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-sm-4">
      <h1>Alquiler de estacionamiento en Cercado de Lima </h1>
      <p>S/. 100.00</p>
      <p>Lima-Lima-Cercado de Lima</p>
      <p>Av Jiron de la Unión </p>
      <p>Largo:4mtrs Alto:2mtrs Ancho:3mtrs</p>
      <p>Interior</p>
    </div>

    <div class="col-sm-4">
      <img src="/assets/img04.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-sm-4">
      <h1>Alquiler de estacionamiento en Surco</h1>
      <p>S/. 150.00</p>
      <p>Lima-Lima-Surco</p>
      <p>Av Primavera </p>
      <p>Largo:3mtrs Alto:2mtrs Ancho:2mtrs</p>
      <p>Interior</p>
    </div>


</div>
<% end %>
