<div class="text-justify">
	<h1>Lista de servicios adicionales</h1>

</div>
<%= form_for :alquilar, :html => {:method => :post, :class => "form-horizontal"} do |a| %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
      <%= a.label :nombre, { :class => "checkbox" } do %>
      <%= a.check_box :nombre, {}, "Lavado", nil %>
      Lavado
      <% end %>

      <%= a.label :, { :class => "checkbox" } do %>
      <%= a.check_box :encerado, {}, "Encerado", nil %>
      Encerado
      <% end %>

      <%= a.label :revison, { :class => "checkbox" } do %>
      <%= a.check_box :revison, {}, "Revisión", nil %>
      Revisión mecánica
      <% end %>
    </div>
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
      <%= link_to "Agregre un servicio que no esta en la lista", { :controller => "serv_adicionales", :action => "RegServicio" } %>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= a.submit "Aceptar", :class => "btn btn-info", :onclick => "return _onclick();" %>
        <%= a.submit "Cancelar", :class => "btn btn-info" %>
      </div>  
    </div>
  </div>
<% end %>
