<p id="notice"><%= notice %></p>

<h1>Autentics</h1>

<table>
  <thead>
    <tr>
      <th>Correo</th>
      <th>Contrasena</th>
      <th>Tipo usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autentics.each do |autentic| %>
      <tr>
        <td><%= autentic.correo %></td>
        <td><%= autentic.contrasena %></td>
        <td><%= autentic.tipo_usuario %></td>
        <td><%= link_to 'Show', autentic %></td>
        <td><%= link_to 'Edit', edit_autentic_path(autentic) %></td>
        <td><%= link_to 'Destroy', autentic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autentic', new_autentic_path %>
